<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiKiZa API Request</title>
    <link rel="stylesheet" href="log.css">
</head>

<body>
    <div class="first_half">
        <center>
            <h2>API Request</h2>
            <form method = " " action = "">
                <input type="text" placeholder="firstname..." required>
                <input type="text" placeholder="lastname..." required>
                <input type="email" placeholder="email..." required>
               
                
                <button type="submit" class="btn btn-primary">Submit</button><br>
                
            </form>
        </center>
    </div>

    \
</body>

</html>